.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    gap: 10px; /* Espacio entre tarjetas */
    padding: 10px;
  }
  
  .grid-item {
    width: 90%; /* Ocupar el espacio disponible en la celda */
    text-align: center;
  }
  